In [ ]:
import re
import pandas as pd
import numpy as np
import os

from nltk.tokenize import WordPunctTokenizer
from collections import Counter

In [ ]:
def load_data(path_artist_corpus,path_songs_dataframe):
  """
  path_artist_corpus => path relativo para el dataframe de artist_corpus
  path_songs_dataframe => path relativo para el dataframe de songs_dataframe
  Esta función carga los datos para comenzar a hacer el exploratory data analysis (EDA)
  """
  artist_corpus = pd.read_csv(path_artist_corpus)
  songs_df = pd.read_csv(path_songs_dataframe)
  return artist_corpus, songs_df

In [ ]:
artist_corpus, songs_df = load_data(path_artist_corpus='artist_corpus.csv', path_songs_dataframe='songs_df.csv')

In [ ]:
def cont_punt(txt):
    """
    txt => cadena de texto a la cual se le desea hacer el análisis
    Esta función permite contar los signos de puntuación por canción para el artista
    """
    cont_punt = Counter(
            char
            for char in txt
            if char in '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
            )
    return sum(cont_punt.values())

In [ ]:
def preliminar_analysis(songs_df):
  """
  Esta función permite generar las columnas de punkt y len para evaluar la cantidad de signos de puntuación y la longitud promedio de las funciones 
  """
  songs_df['punkt'] = songs_df['lyric'].apply(cont_punt)
  songs_df['lenght'] = songs_df['lyric'].apply(len)
  grouped = songs_df.groupby('artist')[['punkt','lenght']].mean()
  return grouped

In [ ]:
preliminar_analysis(songs_df)

        punkt  lenght
artist
Aurora   36.5  1668.5
MGMT     26.5  1342.0